@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
body, html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body .hr-custom, html .hr-custom {
  display: block;
  text-align: center;
}
body .hr-custom img, html .hr-custom img {
  vertical-align: middle;
}
body .hr-custom.dark-green, html .hr-custom.dark-green {
  color: #4F6D64;
}

body.overflw {
  overflow: hidden;
}

/**********************************************************************/
/*                          HEADER STYLES                             */
/**********************************************************************/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  padding: 10.5px 0;
  text-align: center;
  background: linear-gradient(180deg, #FC6353 0%, #FF2D55 100%), linear-gradient(0deg, #FC6353, #FC6353);
}
header .logo {
  display: block;
  width: 85px;
  height: 39px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}
header .hd-icon {
  height: 25px;
  width: 25px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 18px;
}
header .hd-icon.menuico {
  background-image: url("../icons/menu.png");
  left: 15px;
}
header .hd-icon.cart {
  background-image: url("../icons/cart.png");
  right: 15px;
}
header .hd-icon.alert {
  background-image: url("../icons/alert.png");
  right: 60px;
}

/**********************************************************************/
/*                          MENU STYLES                               */
/**********************************************************************/
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: -105%;
  box-sizing: border-box;
  max-width: 332px;
  background: #fff;
  padding: 72px 10px 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 997;
  transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
}
.menu-wrapper ul {
  padding: 0;
  margin: 0;
}
.menu-wrapper ul li {
  padding: 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.menu-wrapper ul li a {
  text-decoration: none;
  color: #444;
}
.menu-wrapper ul li a.icon {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4F6D64;
  display: block;
  padding: 5px 5px 5px 40px;
  background-size: 20px;
  background-position: center left;
  background-repeat: no-repeat;
}
.menu-wrapper ul li a.icon.profile {
  background-image: url("../icons/profile.png");
}
.menu-wrapper ul li a.icon.news {
  background-image: url("../icons/news.png");
}
.menu-wrapper ul li a.icon.promo {
  background-image: url("../icons/promo.png");
}
.menu-wrapper ul li a.icon.today {
  background-image: url("../icons/today.png");
}
.menu-wrapper ul li a.icon.join {
  background-image: url("../icons/join.png");
}
.menu-wrapper ul li a.icon.question {
  background-image: url("../icons/question.png");
}
.menu-wrapper ul li a.icon.report {
  background-image: url("../icons/report.png");
}

.menu-wrapper.active {
  margin-left: 0%;
}

.menu-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 996;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.menu-overlay.active {
  opacity: 1;
  display: block;
}

/**********************************************************************/
/*                          CONTENT STYLES                            */
/**********************************************************************/
.content {
  margin: 60px auto 0 auto;
  max-width: 1050px;
}
.content .title {
  margin: 15px auto;
  text-align: center;
  max-width: 300px;
  position: relative;
}
.content .title h1 {
  color: #4F6D64;
  font-family: "Alfa Slab One", cursive;
  font-size: 25px;
}
.content .title span {
  display: block;
  width: 58px;
  margin: 13px auto 0 auto;
  border-top: 3px solid #FC7668;
}
.content .title a {
  position: absolute;
  top: 50%;
  left: -45px;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  display: block;
  background-image: url("../icons/back.png");
  background-position: center;
  background-size: contain;
}
.content .title.left {
  margin: 10px 0 10px 60px;
  text-align: left;
}
.content .title.curl h1:after {
  content: "";
  height: 15px;
  width: 35px;
  background-image: url("../images/hr-curl-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  margin-left: 12px;
}
.content .title.curl h1:before {
  content: "";
  height: 15px;
  width: 35px;
  background-image: url("../images/hr-curl-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  margin-right: 12px;
}

/*# sourceMappingURL=css/global.1.0.0.css.map */
