body, html{
  padding: 0;
  margin: 0;

  .hr-custom{
    display: block;
    text-align: center;

    img{
      vertical-align: middle;
    }
  }

  .hr-custom.dark-green{
    color: #4F6D64;
  }
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  padding: 10.5px 0;
  text-align: center;
  background: linear-gradient(180deg, #FC6353 0%, #FF2D55 100%),
              linear-gradient(0deg, #FC6353, #FC6353);

  h2{
    font-weight: 100;
  }

  #go-back{
    position: absolute;
    left: 20px;
    top: 23px;
  }
}

.content{
  margin-top: 64px;
}
